* {
  box-sizing: border-box;
}

body {
  background-color: #0a284e;
  color: #d5d5d5;
  margin: 0rem 1rem;
}

a {
  transition: all 0.15s ease;
}

button {
  padding: 0.25rem;
  color: #f0a15c;
  border-color: #f0a15c;
}

button:hover {
  scale: 1.05;
}

@media screen and (max-width: 300px) {
  html {
    font-size: 6px;
  }
}
